* {
    box-sizing: border-box;
}

.font {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-2 {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
    margin: 0px;
    padding: 0px;
}

body > header, main {
    padding: 10px;
    margin: 0 20px 0 50px;
}

header a {
    display: inline-block;
}

footer {
    padding: 5px 23px;
    margin: 0px;
    background-color: black;
    color: white;
}

.main-menu {
    display: inline;
    margin-right: 20px;
}

nav {
    padding: 10px;
    margin: 0px;
}

nav ul {
    margin: 0px;
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    font-family: "Comfortaa", sans-serif;
    font-size: 22px;
    color:black;
    font-weight: bold;
}

a:hover {
    color: red;
}

.container {
    max-width: 75%;
    margin: 0px, auto;
    margin-bottom: 40px;
}

header {
    font-size: 22px;
    text-align: justify;
}

p, li, td, th {
    font-size: 18px;
    text-align: justify;
}

h2 {
    font-size: 22px;
    text-align: justify;
    font-weight: bold;
}

figure {
    margin: 0px;
}

.Food-plate{
    height: 300px;
    width: 500px;
}

.Food-plate > img{
    height: 100%;
    width: 100%;
}

table {
    padding: 10px;
    border-collapse: collapse;
    text-align: left;
}

th, td {
    padding: 5px;
    border: 1px solid black;
}

#contacts {
    align-items:baseline;
}

.error {
    padding: 20px;
    text-align: center;
}

.error-link {
    color: blue;
    text-decoration: none;
}

.products-list {
    display: block;
}

.product-card {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    height: 1fr;
    width: 33%;
    background-color: white;
    border-radius: 35px;
    padding: 30px 40px 30px 40px;
    margin: 10px 10px 0 0;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
}

.product-image {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.product-details {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.product-image img {
    /* display: flex; */
    width: 100%;
    object-fit: cover;
    border-radius: 35px;
}

.control {
    /* display: flex; */
    text-align: center;
}

.btn {
    width: 100%;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    border: solid 2px lightcoral;
    color: white;
}

.product-card:hover {
    border: 2px solid tomato;
}

.btn:hover {
    cursor: pointer;
    background-color: #f1eee9;
}

.price, .dish-name {
    display: flex;
    margin: 10px 0;
    font-size: 22px;
}

.dish-weight {
    display: flex;
    margin: 10px 0;
    color: gray;
}