* {
    box-sizing: border-box;
}

.font {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-2 {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

body > header, main {
    padding: 10px;
    margin: 0 20px 0 50px;
}

.active {
    color: tomato;
}

header a {
    display: inline-block;
}

footer {
    padding: 5px 23px;
    margin: 0px;
    background-color: black;
    color: white;
}

.footer-wrap {
    flex: 1;
}

h1 {
    text-align: center;
}

.main-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-menu li {
    margin-right: 15px;
}

nav {
    padding: 10px 0px;
    margin: 0px;
}

nav ul {
    margin: 0px;
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    font-family: "Comfortaa", sans-serif;
    font-size: 22px;
    color:black;
    font-weight: bold;
}

a:hover {
    color: tomato;
}

.container {
    max-width: 75%;
    margin: 0px, auto;
    margin-bottom: 40px;
}

header {
    font-size: 22px;
    text-align: justify;
}

p, li {
    font-size: 18px;
    text-align: left;
}

h2 {
    font-size: 22px;
    text-align: left;
}

figure {
    margin: 0px;
}

.Food-plate{
    height: 300px;
    width: 500px;
}

.Food-plate > img{
    height: 100%;
    width: 100%;
}

table {
    padding: 10px;
    border-collapse: collapse;
    text-align: left;
}

th, td {
    font-size: 18px;
    text-align: left;
    padding: 5px;
    border: 1px solid black;
}

#contacts {
    align-items:baseline;
}

.error {
    padding: 20px;
    text-align: center;
}

.error-link {
    color: blue;
    text-decoration: none;
}

.products-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 30px 40px;
    border-radius: 35px;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
}

.product-image {
    flex-grow: 0;
}

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 35px;
}

.control {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.btn {
    width: 100%;
    padding: 10px 30px;
    border-radius: 10px;
    border: solid 2px lightcoral;
    background-color: wheat;
    color: black;
    font-size: 18px;
}

.product-card:hover {
    border: 2px solid tomato;
}

.btn:hover {
    cursor: pointer;
    background-color: #f1eee9;
}

.price, .dish-name {
    font-size: 22px;
    overflow: hidden;
}

.dish-weight {
    justify-content: flex-end;
    color: gray;
    margin-top: auto;
}

@media (max-width: 800px) {
    .products-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .main-menu {
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0 15px;
    }

    .Food-plate {
        width: 500px;
    }
}

@media (max-width: 600px) {
    .restaurant-name {
        text-align: center;
    }

    .main-menu a {
        font-size: 26px; 
    }

    .main-menu {
        flex-direction: column;
        align-items: center;
    }

    .Food-plate > img {
        width: 100%;
    }

    th, td {
        font-size: 16px; 
    }

    .products-list {
        grid-template-columns: 1fr;
    }

    section h2 {
        text-align: center;
    }
}

@media (max-width: 400px) {
    th, td {
        font-size: 14px; 
    }
}